/* BOTOX */

.btx-res {
    display: flex;
    flex-direction: row;
}

.btx-container1 {
    /* background-color: red; */
    height: 800px;
}

.btx-container2 {
    height: 500px;
    background-color: var(--accent-color);
}

.btx-container2 h2 {
    padding-top: 3vh;
    text-align: center;
    font-size: 45px;
}

.logo-container {
    position: relative;
    top: 30px;
}

.btx-container2 p {
    text-align: center;
    font-size: 20px;
}

.btx-container2 .linha-title {
    width: 98vw;
    text-align: center;
}

.botox-title {
    width: 500px;
    position: relative;
    left: 200px;
    top: 250px;
}

.botox-title h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: xx-large;
    color: var(--dominant-color);
}

.botox-title p {
    padding: 10px; 
    border-radius: 10px; 
    font-size: 18px; 
    font-family: Arial; 
    line-height: 1.4; 
    margin: 10px 0; 
    text-align: center;
}

.botox-title2 {
    width: 500px;
    position: relative;
    left: 200px;
    top: 200px;
}

.botox-title2 h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: xx-large;
    color: var(--dominant-color);
}

.botox-title2 p {
    padding: 10px; 
    border-radius: 10px; 
    font-size: 18px; 
    font-family: Arial; 
    line-height: 1.4; 
    margin: 10px 0; 
    text-align: center;
}

.botox-title3 {
    width: 500px;
    position: relative;
    left: 200px;
    top: 150px;
}

.botox-title3 h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: xx-large;
    color: var(--dominant-color);
}

.botox-title3 p {
    padding: 10px; 
    border-radius: 10px; 
    font-size: 18px; 
    font-family: Arial; 
    line-height: 1.4; 
    margin: 10px 0; 
    text-align: center;
}

.botox-img {
    width: 10px;
    height: 10px;
}

.botox-btn {
    position: relative;
    height: 37px;
    background-color: #594047;
    color: #fff;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 12px;
    margin: 0px 10px;
    font-weight: 400;
    text-shadow: 2px 2px 7px #8D8D8D;
    font-family: Lato;
    color: #EDEDED;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    left: 380px;
    top: 270px;
}

.botox-btn2 {
    position: relative;
    height: 37px;
    background-color: #594047;
    color: #fff;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 12px;
    margin: 0px 10px;
    font-weight: 400;
    text-shadow: 2px 2px 7px #8D8D8D;
    font-family: Lato;
    color: #EDEDED;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    left: 380px;
    top: 220px;
}

.botox-btn3 {
    /* display: inline-block; */
    position: relative;
    height: 37px;
    background-color: #594047;
    color: #fff;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 12px;
    margin: 0px 10px;
    font-weight: 400;
    text-shadow: 2px 2px 7px #8D8D8D;
    font-family: Lato;
    color: #EDEDED;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.96px;
    text-transform: uppercase;
    left: 380px;
    top: 190px;
}

.botox-btn1:hover {
    color: #fff;
}

.botox-btn2:hover {
    color: #fff;
}

.botox-btn3:hover {
    color: #fff;
}




.hex-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.hex {
    display: flex;
    position: absolute;
    bottom: 20vh;
    left: 54.3%;
    width: 45vw;
    height: 700px;
    background-color: #424242;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(26% 0, 75% 0%, 100% 0, 100% 62%, 57% 95%, 8% 59%);
}

.hex-img-2 {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.hex2 {
    display: flex;
    position: absolute;
    bottom: 20vh;
    left: 54.3%;
    width: 45vw;
    height: 700px;
    background-color: #424242;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(26% 0, 75% 0%, 100% 0, 100% 62%, 57% 95%, 8% 59%);
}

.hex3 {
    display: flex;
    position: absolute;
    bottom: 20vh;
    left: 54.3%;
    width: 45vw;
    height: 700px;
    background-color: #424242;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(26% 0, 75% 0%, 100% 0, 100% 62%, 57% 95%, 8% 59%);
}

.hex-img-3 {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.logo-container {
    position: relative;
    display: inline-block;
}

.line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-8%);
    width: 200px;
    height: 25px;
    border-radius: 10px;
    background-color: pink;
}

.line:nth-child(1) {
    top: 10px;
}

.line:nth-child(2) {
    top: 50px;
}

.line:nth-child(3) {
    top: 90px;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.resultados img {
    width: 23vw;
    border-radius: 12px;
    max-width: 100%;
    transition: all 0.3s;
    vertical-align: middle;
    padding: 0 10px;
    margin: 10px 0;
}

