   @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
   
   /* GERAL */
   :root {
       --dominant-color: #B1556D;
       --complementary-color: #F5C8C7;
       --accent-color: #FFAFC5; 
   }


   body {
        color: #333;
        background: white;
        /* font-family: ; */
        font-size: 13px;
        margin: 0;
        padding: 0;
        line-height: 1.3;
    }

    div {
        display: block;
    }
    

    /* HEADER */
    .cabecalho {
        /* background: url('../imagens/newI-removebg.png') no-repeat center fixed rgb(246,190,237) ; */
        background: linear-gradient(90deg, rgba(238,206,221,1) 33%, rgba(241,210,226,1) 41%, rgba(245,228,236,1) 52%, rgba(241,210,226,1) 63%, rgba(238,206,221,1) 72%); 
        background-size: cover;
        position: sticky;
        z-index: 999;     
        display: flex;
        padding: 30px 0px;
        width: 100%;
        /* margin: 0 auto; */
    }

    .navigation {
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 65px;
        right: 65px;
        width: 50px;
        height: 50px;
        background: #fff;
        z-index: 10000;
        border-radius: 4px;
        overflow: hidden;
        transition: width 0.5s, height 0.5s;
        transition-delay: 0s, 0.25s;
    }

    .navigation ul{
        position: absolute;
        left: 0;
        width: 100%;
    }

    .navigation ul li {
        display: block;
        position: relative;
        list-style: none;
        width: 100%;
    }

    .navigation ul li:hover {
        background-color: #03A9F4;
    }

    .navigation ul li a{
        position: relative;
        display: flex;
        width: 100%;
        text-decoration: none;
        color: #154367;
    }

    .navigation ul li a .icon{
        position: relative;
        display: block;
        min-width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

    .navigation ul li a .icon i {
        font-size: 1.15em;
        color: #154367;
    }

    .navigation ul li a .title {
        position: relative;
        display: block;
        line-height: 50px;
        white-space: nowrap;
    }

    .navigation ul li:hover a .title,
    .navigation ul li:hover a .icon i {
        color: #fff;
    }

    .navigation.active {
        width: 250px;
        height: 350px;
        transition: width 0.5s, height 0.5s;
        transition-delay: 0s, 0.25s;
    }

    .navigation .menuToggle {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #ff4081;
        transition: 0.5s;
        cursor: pointer;
    }

    .navigation .menuToggle.active {
        background-color: #2196f3;
    }

    .navigation .menuToggle::before {
        content: '+';
        position: absolute;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        width: 50px;
        height: 50px;
        font-weight: 400;
        transition: 0.5s;
    }

    .navigation .menuToggle.active::before {
        transform: rotate(315deg);
    }

    .cabecalho2 {
        background-color: #BF3B7B;
        background-size: cover;
        position: sticky;
        z-index: 999;     
        display: flex;
        padding: 30px 0px;
        width: 100%;
        /* margin: 0 auto; */
    }

    /* 𝗩 𝗩 𝗩 arruma essa merda dps pq eu fiz esse 𝗩 𝗩 𝗩
             jeito mamaco só pra funcionar */
    .cabecalho2 .logo {
        width: 300px;
        height: auto;
        margin: -34px 130px;
        display: inline-block;
        justify-content: space-between;
    }
    /* ꓥ ꓥ ꓥ            essa aqui memo           ꓥ ꓥ ꓥ */

    .bg {
        background: url('../imagens/newI-removebg.png'); 
        position: relative;
        /* background-color: rgb(246,190,237); */
        background-size: cover;
    }
    
    

    .cabecalho .logo {
        /* background-color: green; */
        width: 300px;
        height: auto;
        margin: -34px 130px;
        display: inline-block;
        justify-content: space-between;
    }
    
    .cabecalho .menu{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0px 10px;
    }

    nav {
        /* background-color: black; */
        height: 12vh;
        widows: 70vw;
        min-width: 600px;
        width: 610px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    
    .menu .menu-li {
        padding: 0px 15px;
        display: inline-block;
    }
    
    .menu .menu-li a {
        /* background-color: azure; */
        position: relative;
        /* display: inline-block; */
        text-decoration: none;
        color: black;
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.5px;
        /* padding: 10px 10px; */
        margin: auto;
    }


    .menu .menu-li a:after{
        content: "";
        position: absolute;
        background-color: coral;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }
    
    .menu .menu-li a:hover:after{
        width: 100%;
    }
    

    .main-container {
        background: rgb(238,206,221);
        background: linear-gradient(90deg, rgba(238,206,221,1) 33%, rgba(241,210,226,1) 41%, rgba(245,228,236,1) 52%, rgba(241,210,226,1) 63%, rgba(238,206,221,1) 72%); 
    }
    
    .name-container {
        position: relative;
        right: 100px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .introduction {
        padding: 322px 0px;
        text-align: center;
    }

    .name-container h2 {
        font-weight: 100;
        color: #58434A;
        font-size: 70px;
        margin: 0;
        text-shadow: 2px 2px 7px #999;
    }

    .name-container h2 span{
        font-weight: 300;
        color: #fff;
    }

    .name-container p {
        color: #AF96A1;
        position: absolute;
        left: 705px;
        top: 80px;
    }

    .saber {
        position: absolute;
        right: 870px;
        top: 470px;
    }

    .saber a {
        /* border: 0.5px solid #8B9B9C; */
        background-color: rgb(117, 38, 38);
        color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 15px;
        margin: 0px 10px;
        font-weight: 400;
        text-shadow: 2px 2px 7px #8D8D8D;
    }

    /* INFO */

    .info {
        padding: 60px 0;
        background: #a25050;
    }

    .info-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .init-anim {
        position: relative;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .init-anim a {
        color: inherit;
        text-decoration: none;
        background-color: transparent;
    }

    .init-anim img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        border-style: none;
        vertical-align: middle;
        overflow: clip;
    }

    .info h3 {
        font-weight: 400;
        font-size: 28px;
        color: #fff;
    }

    .infoIMG {
        float: left;
        width: 418px;
        height: 669px;
    }

    .info p {
        font-weight: 300;
        text-align: justify;
        font-size: 15px;
        color: #fff;
        line-height: 32px; 
    }

    /* PRINCIPAIS TRATAMENTOS */

    .slider-container {
        background-size: cover;
        background-color: #fff;
        background-position: center;
    }

    .slider {
        width: 1320px;
        max-width: 100vw;
        height: 300px;
        margin: auto;
        position: relative;
        overflow: hidden;
        
    }

    .list {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        width: max-content;
        transition: 1s;
    }

    .buttons {
        position: absolute;
        top: 180%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .buttons button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--complementary-color);
        color: rgb(255, 255, 255);
        border: none;
        font-weight: bold;
    }

    /* FORM */
    .formProced {
        margin-bottom: 250px;
    }


    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 1;
        background: url('../imagens/bx-calendar-alt.svg') no-repeat;
        position: absolute;
        right: 17px;
    }

    input[type="radio"]

    .formProced input[type=text] {
        background-color: lightgray;
        padding: 10px;
        border: 0;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        width: 20%;
    }

    .formProced input[type=email] {
        background-color: lightgray;
        padding: 10px;
        border: 0;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        width: 20%;
    }

    .formProced input[type=password] {
        background-color: lightgray;
        padding: 10px;
        border: 0;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        width: 20%;
    }

    .formProced textarea {
        width: 20%;
        background-color: lightgray;
        resize: vertical;
        padding:15px;
        border-radius:15px;
        border:0;
        box-shadow:4px 4px 10px rgba(0,0,0,0.06);
        height:150px;
    }

    .formProced input[type=date] {
        background-color: lightgray;
        padding: 10px;
        position: absolute;
        /* transform: translate(-50%, -50%); */
        top: 70%;
        left: 0%;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    .gender-box{
        position: relative;
        bottom: 20px;
    }

    .gnr-title {
        position: absolute;
        left: 5px;
    }

    .gnr-label{
        background-color: transparent;
        border: 1px solid #ccd0d5;
        border-radius: 4px;
        display: inline-block;
        flex: 1 0 auto;
        font-weight: normal;
        height: 36px;
        margin: 8px 6px 6px;
        position: relative;
        width: auto;
    }

    .form-control {
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-size: 15px;
        line-height: 36px;
        padding: 0 35px 0 10px;
        width: 100%;
    }

    .gnr-input {
        height: 36px;
        margin: 0;
        position: absolute;
        right: 10px;
        top: 0;
    }

    .button-2 {
            background-color: lightgray;
            border-radius: 8px;
            border-width: 0;
            color: black;
            cursor: pointer;
            display: inline-block;
            font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            list-style: none;
            margin: 0;
            padding: 10px 12px;
            text-align: center;
            transition: all 200ms;
            vertical-align: baseline;
            white-space: nowrap;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
    }

    ::-webkit-calendar-picker-indicator{
        background-color: lightgray;
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;
    }

    .dateLabel {
        position: absolute;
        top: 68%;
    }   



    /* PRINCIPAIS TRATAMENTOS */

    .trat-title-container {
        padding: 60px 0px 0px 0px;
        text-align: center;
    }

    .item-container {
        height: 300px;
        padding: 0px 15px;
        margin: 0px 10px;
        /* margin-right: auto;
        margin-left: auto;     */
    }

    .trat-title-container h2{
        font-weight: 300;
        color: var(--accent-color);
        font-size: 45px;
    }

    .linha-title {
        margin-bottom: 30px;
    }

    .linha-title img {
        background-image: url();
        border: none !important;
        box-sizing: border-box;
        max-width: 100%;
        max-height: 100%;
        width: 29px;
        height: 32px;
        vertical-align: middle;
    }

    .linha-title:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: 80px;
        height: 0;
        border: 0.5px solid #9a9a9a;
    }

    .linha-title:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        width: 80px;
        height: 0;
        border: 0.5px solid #9a9a9a;
    }

    .general-container {
        max-width: 1320px;
        margin-left: 278px;
    }

    .trats-container {
        position: relative;
        display: block;
        opacity: 1;
        width: 1290px;
        transform: translate3d(0px, 0px, 0px);
        content: "";
        display: table;
        margin: 30px 0;
    }
    
    .trat-container {
        display: inline-block;
        width: 100%;
        text-align: center;        
        width: 20.0%;
        padding: 5px 0; 
    }

     .trat-container img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 15px;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        vertical-align: middle;
        border-style: none;
        
    }

    .trat-container h2{
        color: var(--accent-color);
        border-bottom: 0.5px solid #c9c9c9;
        font-size: 18px;
        font-weight: 600;
        margin: 0 10px;
        padding: 5px 0;
    }

    .trat-container p{
        color: var(--complementary-color);
        font-size: 13px;
        text-align: center;
        margin: 0 10px;
        font-weight: 400;
    }



    /* IFRAME */

    .iframe {
        width: 100%;
        height: 250px;
    }

    .iframe iframe {
        width: 100%;
        height: 100%;
        border: 1px solid #000;
    }

    /* FOOTER */
    .footer {
        background-color: var(--complementary-color);
        position: fixed;
        bottom: 600;
        width: 100%;
        height: 22.8%;
    }
        
    .footer-container {
        max-width: 1170px;
        margin: auto;
    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;
    }

    .footer ul {
        list-style: none;
    }

    .footer-col {
        width: 25%;
        padding: 0 15px;
    }

    .footer-col h4{
        font-size: 18px;
        color: #000000;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative;
    }

    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #000000;
        text-decoration: none;
        font-weight: 300;
        color: #000000;
        display: block;
        transition: all 0.3s ease;
    }

    .footer-col ul li a:hover{
        color: #000000;
        padding-left: 8px;
    }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #000000;
        transition: all 0.5s ease;
    }

    .footer-col .social-links a:hover {
        color: #24262b;
        background-color: #000000;
    }


    /* LOGIN */
    
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

    .sim-body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100vh;
        font-family: "Poppins", sans-serif;
        background: url('../imagens/bgLogin.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }

    .wrapper2 {
        width: 420px;
        background: transparent;
        color: #fff;
        border-radius: 10px;
        padding: 30px 40px;
        margin: 20px 0 129px 0;
    }

    .wrapper2 h1 {
        font-size: 36px;
        text-align: center;
    }

    .wrapper2 .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        /* background: salmon; */
        margin: 30px 0;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        font-size: 16px;
        color: #fff;
        padding: 20px 45px 20px 20px;
    }

    .input-box input::placeholder {
        color: #fff;
    }

    .input-box i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .wrapper2 .remember-forgot {
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
    }

    .remember-forgot label input {
        accent-color: #fff;
        margin-right: 3px;
    }

    .remember-forgot a {
        color: #fff;
        text-decoration: none;
    }

    .remember-forgot a:hover {
        text-decoration: underline;
    }

    .wrapper2 .btn {
        width: 100%;
        height: 45px;
        background: #fff;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
    }

    .wrapper2 .register-link {
        font-size: 14.5px;
        text-align: center;
        margin: 20px 0 15px;
    }

    .register-link p a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }

    .register-link p a:hover {
        text-decoration: underline;
    }