.bg {
    background: url('/src/imagens/background.jpg') no-repeat center fixed;
    background-size: cover;
}

.bg-image {
    
}

.main-container {
    background-color: red;
}

.cabecalho {
    /* background: url('/src/imagens/background.jpg') no-repeat center fixed; */
    background-size: cover;
    /* background-color: rgb(255, 255, 255) / 0%; */
    background-color: aqua;
    z-index: 99;
    display: flex;
    padding: 30px 0px;
    max-width: 100%;
    margin: 0 auto;
}

.cabecalho .logo {
    background-color: red;
    width: 300px;
    height: auto;
    margin: -30px 200px;
    justify-content: space-between;
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

nav {
    background-color: aquamarine;
    height: 12vh;
    widows: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}


.menu li a {
    background-color: azure;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin: auto 5px;
}

.menu li a:after{
    content: "";
    position: absolute;
    background-color: coral;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.menu li a:hover:after{
    width: 100%;
}






